<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
    <insert id="save" parameterType="member" useGeneratedKeys="true" keyProperty="id">
        insert into member_tb (memberEmail, memberPassword, memberName, memberMobile, memberProfileAttached)
        values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberMobile}, #{memberProfileAttached})
    </insert>
    <insert id="saveFile" parameterType="memberFile">
        insert into member_file_tb (originalFileName, storeFileName, memberId)
        values (#{originalFileName}, #{storeFileName}, #{memberId})
    </insert>
    <select id="findAll" resultType="member">
        select * from member_tb order by id desc;
    </select>
    <delete id="delete" parameterType="Long">
        delete from member_tb where id = #{id};
    </delete>
    <select id="login" parameterType="member" resultType="member">
        select * from member_tb where memberEmail=#{memberEmail} and memberPassword=#{memberPassword}
    </select>
    <select id="findById" parameterType="Long" resultType="member">
        select * from member_tb where id=#{id}
    </select>
    <select id="findFile" parameterType="Long" resultType="memberFile">
        select * from member_file_tb where memberId=#{memberId}
    </select>
    <update id="update" parameterType="member">
        update member_tb set memberPassword=#{memberPassword}, memberMobile=#{memberMobile} where id=#{id}
    </update>
</mapper>